<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <h1>Your Ask</h1>
      <form action="/answer" method="get">
        <label for="question">Speak to your coach</label>
        <input type="text" id="question" name="query" placeholder="what time is it?">
        <input type="submit" value="Go on!">
      </form>
    </div>
  </div>
</div>
